absl-py==0.6.1
alabaster==0.7.12

beautifulsoup4==4.7.1

constantly==15.1.0
contextlib2==0.5.5
cryptography==2.6.1
cryptography-vectors==2.3.1
cycler==0.10.0

decorator==4.3.0
defusedxml==0.5.0
distributed==1.25.2
dj-database-url==0.5.0
Django==2.2.2
django-heroku==0.3.1
djangorestframework==3.9.4
docutils==0.14
entrypoints==0.3
et-xmlfile==1.0.1

numpy==1.16.2

odo==0.5.1
olefile==0.46
openpyxl==2.5.12
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2

pyOpenSSL==18.0.0


requests==2.21.0
requests-oauthlib==1.0.0
rope==0.10.7

scikit-image==0.14.1
scikit-learn==0.20.3
scipy==1.2.1

spyder==3.3.2
spyder-kernels==0.3.0
SQLAlchemy==1.2.15
sqlparse==0.3.0


urllib3==1.24.1

